*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --bg: #2b2a30;
  --normal-ring: #17171a;
  --red-ring: #9d0000;
  --green-ring: #00aa51;
  --timer-bg: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  --font-timer: "Bebas Neue", cursive;
  --font-stsp: "Montserrat", sans-serif;
  --font-clr: #ffffff;
} */

body {
  background: #ff6347;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.outerRing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 415px;
  height: 415px;
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
}

.timer {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
}

#time {
  width: 350px;
  text-align: center;
  margin: 3rem 0 0 0;
}

#time span {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: 7rem;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.6em;
  margin: 1rem 0 0.85rem 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn__reset {
  position: absolute;
  top: 25%;
  color: rgba(0, 0, 0, 0.25);
}
.btn__reset:hover {
  color: rgba(0, 0, 0, 1);
}
.btn:hover {
  color: rgba(0, 0, 0, 0.25);
}
.btn:hover {
  color: rgba(0, 0, 0, 0.25);
}
.btn-animation {
  color: white;
}
.btn-animation:hover {
  color: rgba(255, 255, 255, 0.6);
}
#setting {
  cursor: pointer;
  margin-top: 1rem;
  width: 25px;
  height: 25px;
  color: #585858 !important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.select-item {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 200px;
  border-radius: 3px;
  background-color: #ff6347;
}
#dropdown {
  position: absolute;
  margin: 10px;
  padding: 10px;
  height: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff6347;
  appearance: none;
}

.wrapper {
  animation: scroll 70s linear infinite;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}
.wrapper__ocean {
  background: url("https://images.wallpaperscraft.ru/image/single/volny_okean_vid_sverhu_148218_1920x1080.jpg"),
    #111111;
}
.wrapper__forest {
  background: url("https://answit.com/wp-content/uploads/2017/01/full-hd.jpg");
}
